*{
    padding: 0px;
    margin: 0px;
}
.n{
    background-color: black;
    color: green;
    width:auto;
    height: 200px;

}
.h1{
    float: left;
    justify-content: center;
    padding:50px;
}
.a{
    
    align-items: center;
    align-content: center;
    background-color: red;
    padding: 8px 24px;
    color: aqua;
    border: 2px color solid black;
    background-color: rgb(40,50,60);
    border-radius: 40px;
    margin-left:10px;
    
}
.ul{
    padding: 80px 80px;
}

.topleft
{
    background-color:rgb(0, 6, 11);
    color:brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-display: center;
    width:auto;
    height:300px;
    margin: auto;
    display: content;
    }
.tl{
   
    align-content:center;
    align-items: center;
    padding:10px;
    transform: translate(10%, 10%);
}
.topright{
    float:right;
    background-color: black;
    color:green;
    
}
.img{
    
    align-items:top;
    float:right;
    transform: translate(-50%, -25%);
    border-color: rgb(224, 229, 234);
    border-radius: 40px;
   
    
}
.foot{
    background-color: black;
    color:white;
    height: 300px;
    text-align: center;
    margin: auto;
}
.p{
    text-align: center;
    justify-content: space-between;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    float: left;
}
