*{
    margin:0px;
    padding:0px;
}
.n{
    background-color: black;
    color: green;
    width:auto;
    height: 200px;
    padding: 20px;
    text-align: center;
   

}
.ul{
    padding: 80px;

}
.a{
    
    align-items: center;
    align-content: center;
    background-color: red;
    padding: 8px 24px;
    color: aqua;
    border: 2px color solid black;
    background-color: rgb(40,50,60);
    border-radius: 40px;
    margin-left:10px;
    transform: translate(20%,20%);
   
    
}
.p{
    background-color: rgb(255, 165, 0);
    width:auto;
    color:aliceblue;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: space-between;
    align-content: center;
    height:450px;
}